@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@300;400;500;600;700;800&display=swap');

:root {
  --menuLogo: url(https://res.cloudinary.com/dfpleoyv6/image/upload/v1616015384/menu_light_argcv8.png)
    no-repeat;
  --mainLogo: url(https://res.cloudinary.com/dfpleoyv6/image/upload/v1616016005/main_logoDark_xs6fzv.png)
    no-repeat;

  /* Colors */
  --blue: #224cff;
  --text: black;
  --textMirror: white;
  --background: white;
  --backgroundNavbar: black;
}

body {
  text-align: center;
  background-color: var(--background);
  margin: 0;
  padding: 20px 70px;
  color: var(--text);
  
  font-family: 'Bitter', serif;
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6{
  font-family: "Raleway", sans-serif;
}

h1 {
  font-size: 4em;
}

h2 {
  font-size: 3.5em;
}

h3 {
  font-size: 2em;
}

h1, h2{
  font-weight: 800;
}

h3, h4, h5{
  font-weight: 600;
}

.text-blue, .text-blue li{
  color: var(--blue);
  font-family: 'Bitter', serif;
}

.my-tools{
  display: flex;
}

.main {
  height: 85vh;
  display: flex;
  justify-items: flex-end;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap
}

.home h1 {
  padding-top: 25vh;
  padding-bottom: 25vh;
  background: url(https://res.cloudinary.com/dfpleoyv6/image/upload/v1616091664/blob_kdtsio.svg)
    no-repeat;
  background-size: 600px 600px;
  background-position-y: center;
  background-position-x: right;
  margin: auto 50px auto auto;
}

.collapsedNavbar {
  height: 60px;
  background-color: var(--backgroundNavbar);
  border-radius: 15px;
}

.my-navText {
  color: var(--textMirror);
}

.my-navText:hover {
  border: 3px solid var(--blue);
  color: var(--textMirror);
}

.my-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.navbar-logo {
  background: var(--mainLogo);
  background-size: 50px 50px;
  height: 50px;
  width: 50px;
  border: none;
  margin-top: 5px;
}

.navbar-main,
.navbar-main:hover,
.navbar-main:focus {
  padding: 0 auto;
  border: none;
  background: var(--menuLogo);
  height: 50px;
  width: 100px;
}

.my-tools li::before{
  content:"#";
}

.my-tools ul {
  list-style: none;
}

#first-tags{
  padding: 0;
}
.my-tech{
  padding: 1px 5px;
}
.my-tech:hover{
  background-color: var(--blue);
  border-radius: 5px;
  color:white
}


