@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@300;400;500;600;700;800&display=swap');

:root {
  --menuLogo: url(https://res.cloudinary.com/dfpleoyv6/image/upload/v1616015384/menu_light_argcv8.png)
    no-repeat;
  --mainLogo: url(https://res.cloudinary.com/dfpleoyv6/image/upload/v1616016005/main_logoDark_xs6fzv.png)
    no-repeat;

  /* Colors */
  --blue: #224cff;
  --text: black;
  --textMirror: white;
  --background: white;
  --backgroundNavbar: black;
}

body {
  text-align: center;
  background-color: var(--background);
  margin: 0;
  padding: 20px 70px;
  color: var(--text);
  
  font-family: 'Bitter', serif;
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6{
  font-family: "Raleway", sans-serif;
}

h1 {
  font-size: 4em;
}

h2 {
  font-size: 3.5em;
}

h3 {
  font-size: 2em;
}

h1, h2{
  font-weight: 800;
}

h3, h4, h5{
  font-weight: 600;
}

.text-blue, .text-blue li{
  color: var(--blue);
  font-family: 'Bitter', serif;
}

.my-tools{
  display: flex;
}

.main {
  height: 85vh;
  display: flex;
  justify-items: flex-end;
  flex-direction: column;
  justify-content: center;
}

.home h1 {
  padding-top: 25vh;
  padding-bottom: 25vh;
  background: url(https://res.cloudinary.com/dfpleoyv6/image/upload/v1616091664/blob_kdtsio.svg)
    no-repeat;
  background-size: 600px 600px;
  background-position-y: center;
  background-position-x: right;
  margin: auto 50px auto auto;
}

.collapsedNavbar {
  height: 60px;
  background-color: var(--backgroundNavbar);
  border-radius: 15px;
}

.my-navText {
  color: var(--textMirror);
  font-family: "Raleway", sans-serif;
  font-weight: 600;
}

.my-navText:hover {
  border: 3px solid var(--blue);
  color: var(--textMirror);
}

.my-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.navbar-logo {
  background: var(--mainLogo);
  background-size: 50px 50px;
  height: 50px;
  width: 50px;
  border: none;
  margin-top: 5px;
}

.navbar-main,
.navbar-main:hover,
.navbar-main:focus {
  padding: 0 auto;
  border: none;
  background: var(--menuLogo);
  height: 50px;
  width: 100px;
}

.my-tools li::before{
  content:"#";
}

.my-tools ul {
  list-style: none;
}

#first-tags{
  padding: 0;
}
.my-tech{
  padding: 1px 5px;
}
.my-tech:hover{
  background-color: var(--blue);
  border-radius: 5px;
  color:white
}

.footer{
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 0.8em;
}

.scroll-to-top{
  position: fixed;
  bottom: 12px;
  left: 50%;
  width:40px;
  height:40px;
  border-radius: 100%;
  background-color: yellow;
}

.go-top{
  background-color: var(--blue);
  color:white;
  border: none;
  border-radius: 50%;
  padding: 15px;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 1.3em;
  margin-bottom: 20px;
}

.go-top:hover{
  font-weight: 700;
}

.my-carousel {
  width: 900px;
}

.carousel-control-prev, .carousel-control-next{
  background-color: var(--blue);
  height: 50px;
  width: 50px;
  border-radius: 50%;
  top:45%;
}

.carousel{
  text-align: center;
}

.carousel-indicators{
  display: none;
}

.slide{
  border-radius: 15px;
  
}
img{
  border: 5px solid var(--background);
  height: 500px;
}

.active img{
  border: 5px solid var(--blue);
}

.column {
  display:flex;
  align-items: center;
  flex-direction: column;
}

.my-projects {
  margin: 120 auto;
}

@media (max-width: 1050px) {
  body{
    padding: 20px 25px;
  }

  h1{
    font-size: 2.5em;
  }

  .my-carousel {
    width: 100%;
    height: 50vh;
    margin-top: 20px;
  }

  img{
    max-height: 50vh;
    max-width: 80%;
    object-fit: cover;;
  }

  .desktop img{
    height: auto
  }

  .carousel-control-prev, .carousel-control-next{
    height: 25px;
    width: 25px;
    top:18%;
  }

  .active img{
    border: 2px solid var(--blue);
  }

  .rest-projects{
    margin-top: 200px;
  }
 
  .go-top {
    margin-top: 100px;
  }
}